/*自定义dialog的样式*/
.el-dialog{
  top:90px;
  border-radius: 5px;
}
.el-dialog__body{
  margin-left: 5px;
  margin-right: 5px;
  padding-top:5px;
  height: 180px;
  position: relative;
  border-top: 1px solid #ebebeb;
}
.el-dialog__header{
  margin-left: 5px;
  margin-right: 5px;
}
.el-dialog__title{
  font-size: 15px;
  color: #606060;
  font-weight: bold;
}
.el-dialog__close{
  background-color: #b3d8ff;
}
.el-dialog__headerbtn{
  background: url("close.png")left no-repeat;
  background-size: cover;
}
.el-dialog__headerbtn i{
  font-size: 20px;
  visibility: hidden;
}

